VITE_APP_USERNAME=your_username_here
VITE_APP_PASSWORD=your_password_here

# GDS Mode: 'dev' or 'prod'
VITE_APP_GDS_MODE=prod

# GDS DEV Credentials Template
VITE_APP_GDS_PROXY_DEV=https://newstg3-gdsbus.kupos.cl
VITE_APP_GDS_API_KEY_DEV=YOUR_DEV_KEY_HERE

# GDS PROD Credentials Template
VITE_APP_GDS_PROXY_PROD=https://gds.kupos.com
VITE_APP_GDS_API_KEY_PROD=YOUR_PROD_KEY_HERE

# App Settings Template (Replace with your server URLs locally)
VITE_APP_SITIO=YOUR_SITIO_HERE
VITE_APP_URL_GET_IP=http://localhost:3000/get_ip
VITE_APP_URL_PRINT=http://localhost:3000/print
VITE_APP_URL_LOGS1=https://example-logs.com/api.php
VITE_APP_URL_LOGIN=https://example-backend.com
VITE_APP_URL_LOGS=https://example-backend.com/api/totem
VITE_APP_URL_BOLETO=https://example-backend.com/api/boletos
