VITE_APP_USERNAME=your_username_here
VITE_APP_PASSWORD=your_password_here

# GDS Mode: 'dev' or 'prod'
VITE_APP_GDS_MODE=prod

# GDS DEV Credentials Template
VITE_APP_GDS_PROXY_DEV=YOUR_GDS_PROXY_DEV
VITE_APP_GDS_API_KEY_DEV=YOUR_DEV_KEY_HERE

# GDS PROD Credentials Template
VITE_APP_GDS_PROXY_PROD=YOUR_GDS_PROXY_PROD
VITE_APP_GDS_API_KEY_PROD=YOUR_PROD_KEY_HERE
