VITE_APP_USERNAME=your_username_here
VITE_APP_PASSWORD=your_password_here

# GDS Mode: 'dev' or 'prod'
VITE_APP_GDS_MODE=prod

# GDS DEV Credentials Template
VITE_APP_GDS_PROXY_DEV=YOUR_GDS_PROXY_DEV
VITE_APP_GDS_API_KEY_DEV=YOUR_DEV_KEY_HERE

# GDS PROD Credentials Template
VITE_APP_GDS_PROXY_PROD=YOUR_GDS_PROXY_PROD
VITE_APP_GDS_API_KEY_PROD=YOUR_PROD_KEY_HERE

# App Settings Template (Replace with your server URLs locally)
VITE_APP_SITIO=YOUR_SITIO_HERE
VITE_APP_URL_GET_IP=YOUR_URL_GET_IP
VITE_APP_URL_PRINT=YOUR_URL_PRINT
VITE_APP_URL_LOGS1=YOUR_URL_LOGS1
VITE_APP_URL_LOGIN=YOUR_URL_LOGIN
VITE_APP_URL_LOGS=YOUR_URL_LOGS
VITE_APP_URL_BOLETO=YOUR_URL_BOLETO
