// Custom style
$font-size-base: 18;// Change general font size
$blue: #001689;// Affect the primary button
$info: #FF5200;// Affect the info button
$vs-state-active-bg: $blue; // Input select color active background
  

@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';
@import '_vue_select.scss';

@import '_custom.scss';
// @import '_fonts.scss';


