@font-face {
	font-family: "DMSans-Light";
	src: url("/src/assets/fonts/DMSans-Light.ttf");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
  }
  
@font-face {
	font-family: "DMSans-Regular";
	src: url("/src/assets/fonts/DMSans-Regular.ttf");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
  }
  
@font-face {
	font-family: "DMSans-Medium";
	src: url("/src/assets/fonts/DMSans-Medium.ttf");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
  }
  
@font-face {
	font-family: "DMSans-Bold";
	src: url("/src/assets/fonts/DMSans-Bold.ttf");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
  }
  
@font-face {
	font-family: "DMSans-SemiBold";
	src: url("/src/assets/fonts/DMSans-SemiBold.ttf");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
  }
  
@font-face {
	font-family: "DMSans-Black";
	src: url("/src/assets/fonts/DMSans-Black.ttf");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
  }
  