# Configuración de Base de Datos Central PostgreSQL para el Mantenedor
DB_HOST=banos-autoservicio-v14.c6xou04wqeof.us-east-1.rds.amazonaws.com
DB_PORT=5432
DB_NAME=postgres
DB_SCHEMA=bano_autoservicio
DB_USER=postgres
DB_PASS=

# Configuración AWS S3 para almacenamiento de vídeos de publicidad
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1
AWS_S3_BUCKET=totem-publicidad-media

# Parámetros configurables de validación de vídeos publicitarios
NEXT_PUBLIC_MAX_VIDEO_SIZE_MB=15
NEXT_PUBLIC_MAX_VIDEO_DURATION_SEC=20
